<%= form_for(@new_series_film ) do |f| %>
  <% if @new_series_film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_series_film.errors.count, "error") %> prohibited this new series film from being saved:</h2>

      <ul>
      <% @new_series_film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="form-group row">
      <%= f.label :episode_id, "Episode ID", :class => 'col-md-2 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_field :episode_id, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :opening_crawl, :class => 'inline col-md-2 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_area :opening_crawl, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :director, :class => 'inline col-sm-2 col-form-label'  %>
      <div class="col-md-9">
        <%= f.text_field :director, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :producer, :class => 'inline col-sm-2 col-form-label' %>
      <div class="col-md-9">
        <%= f.text_field :producer, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :release_date, :class => 'inline col-sm-2 col-form-label' %>
      <div class="col-md-2">
        <%= f.date_field :release_date, :class => 'form-control' %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit :class => 'btn btn-warning' %>
    </div>
  </div>
<% end %>
