<!DOCTYPE html>
<html>
  <head>
    <title>StarWars Battle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-color:#ffc955 !important;">
        <h1>Star Wars Battle</h1>
        <p>Find out which Star Wars character is superior </p>
      </div>
    </div>
    <% flash.each do |key, value| %>
      <div class="container-fluid">
        <div class="alert alert-<%= key %>"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= value %></div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
